USE [master]
GO
/****** Object:  Database [FlightManagementDB]    Script Date: 20/07/2024 8:55:31 SA ******/
CREATE DATABASE [FlightManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FlightManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FlightManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FlightManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FlightManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlightManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlightManagementDB]
GO
/****** Object:  Table [dbo].[AccountMember]    Script Date: 20/07/2024 8:55:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountMember](
	[MemberID] [nvarchar](20) NOT NULL,
	[MemberPassword] [nvarchar](80) NOT NULL,
	[FullName] [nvarchar](80) NOT NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[MemberRole] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[airline]    Script Date: 20/07/2024 8:55:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[airline](
	[id] [int] NOT NULL,
	[code] [varchar](10) NULL,
	[name] [nvarchar](100) NULL,
	[country] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[airport]    Script Date: 20/07/2024 8:55:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[airport](
	[id] [int] NOT NULL,
	[code] [varchar](10) NULL,
	[name] [nvarchar](100) NULL,
	[country] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[baggage]    Script Date: 20/07/2024 8:55:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[baggage](
	[id] [int] NOT NULL,
	[booking_id] [int] NULL,
	[weight_in_kg] [decimal](4, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking]    Script Date: 20/07/2024 8:55:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking](
	[id] [int] NOT NULL,
	[passenger_id] [int] NULL,
	[flight_id] [int] NULL,
	[booking_platform_id] [int] NULL,
	[booking_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookingPlatform]    Script Date: 20/07/2024 8:55:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookingPlatform](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[url] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight]    Script Date: 20/07/2024 8:55:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight](
	[id] [int] NOT NULL,
	[airline_id] [int] NULL,
	[departing_airport] [int] NULL,
	[arriving_airport] [int] NULL,
	[departing_gate] [varchar](10) NULL,
	[arriving_gate] [varchar](10) NULL,
	[departure_time] [datetime] NULL,
	[arrival_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[passenger]    Script Date: 20/07/2024 8:55:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[passenger](
	[id] [int] NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[date_of_birth] [date] NULL,
	[country] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[gender] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AccountMember] ([MemberID], [MemberPassword], [FullName], [EmailAddress], [MemberRole]) VALUES (N'Admin', N'@1', N'Administrator', N'admin@CompanyName.com', 1)
INSERT [dbo].[AccountMember] ([MemberID], [MemberPassword], [FullName], [EmailAddress], [MemberRole]) VALUES (N'PS0003', N'@3', N'Member 1', N'member1@CompanyName.com', 3)
INSERT [dbo].[AccountMember] ([MemberID], [MemberPassword], [FullName], [EmailAddress], [MemberRole]) VALUES (N'PS0004', N'@3', N'Member 2', N'member2@CompanyName.com', 3)
GO
INSERT [dbo].[airline] ([id], [code], [name], [country]) VALUES (1, N'VN', N'Vietnam Airlines', N'Vietnam')
INSERT [dbo].[airline] ([id], [code], [name], [country]) VALUES (2, N'CZ', N'China Southern Airlines', N'China')
INSERT [dbo].[airline] ([id], [code], [name], [country]) VALUES (3, N'CI', N'China Airlines', N'China')
GO
INSERT [dbo].[airport] ([id], [code], [name], [country], [state], [city]) VALUES (1, N'DEN', N'Denver International Airport', N'United States', N'Colorado', N'Denver')
INSERT [dbo].[airport] ([id], [code], [name], [country], [state], [city]) VALUES (2, N'ATL', N'Atlanta Hartsfield-Jackson Airport', N'United States', N'Georgia', N'Atlanta')
INSERT [dbo].[airport] ([id], [code], [name], [country], [state], [city]) VALUES (3, N'IST', N'Istanbul International Airport', N'Turkey', NULL, N'Istanbul')
GO
INSERT [dbo].[baggage] ([id], [booking_id], [weight_in_kg]) VALUES (1, 264, CAST(23.10 AS Decimal(4, 2)))
INSERT [dbo].[baggage] ([id], [booking_id], [weight_in_kg]) VALUES (2, 316, CAST(23.70 AS Decimal(4, 2)))
INSERT [dbo].[baggage] ([id], [booking_id], [weight_in_kg]) VALUES (3, 419, CAST(22.80 AS Decimal(4, 2)))
GO
INSERT [dbo].[booking] ([id], [passenger_id], [flight_id], [booking_platform_id], [booking_time]) VALUES (1, 357, 319, 9, CAST(N'2024-07-20T07:39:05.000' AS DateTime))
INSERT [dbo].[booking] ([id], [passenger_id], [flight_id], [booking_platform_id], [booking_time]) VALUES (2, 74, 96, 2, CAST(N'2024-07-20T03:49:44.000' AS DateTime))
INSERT [dbo].[booking] ([id], [passenger_id], [flight_id], [booking_platform_id], [booking_time]) VALUES (3, 473, 227, 2, CAST(N'2024-07-20T04:06:23.000' AS DateTime))
GO
INSERT [dbo].[bookingPlatform] ([id], [name], [url]) VALUES (1, N'Make my trip', N'https://www.makemytrip.com/')
INSERT [dbo].[bookingPlatform] ([id], [name], [url]) VALUES (2, N'Trip Ninja', N'https://www.tripninja.io/')
INSERT [dbo].[bookingPlatform] ([id], [name], [url]) VALUES (3, N'Capterra', N'https://www.capterra.com/')
GO
INSERT [dbo].[flight] ([id], [airline_id], [departing_airport], [arriving_airport], [departing_gate], [arriving_gate], [departure_time], [arrival_time]) VALUES (1, 17, 12, 9, N'2E', N'2A', CAST(N'2023-05-31T13:15:22.000' AS DateTime), CAST(N'2023-06-01T03:53:22.000' AS DateTime))
INSERT [dbo].[flight] ([id], [airline_id], [departing_airport], [arriving_airport], [departing_gate], [arriving_gate], [departure_time], [arrival_time]) VALUES (2, 8, 18, 17, N'1C', N'2E', CAST(N'2023-08-16T14:21:12.000' AS DateTime), CAST(N'2023-08-16T23:57:12.000' AS DateTime))
INSERT [dbo].[flight] ([id], [airline_id], [departing_airport], [arriving_airport], [departing_gate], [arriving_gate], [departure_time], [arrival_time]) VALUES (3, 10, 5, 9, N'2D', N'2C', CAST(N'2023-11-06T23:15:36.000' AS DateTime), CAST(N'2023-11-07T15:09:36.000' AS DateTime))
GO
INSERT [dbo].[passenger] ([id], [first_name], [last_name], [date_of_birth], [country], [email], [gender]) VALUES (1, N'Taddeo', N'Rabjohns', CAST(N'1974-06-29' AS Date), N'Mongolia', N'trabjohns0@so-net.ne.jp', N'Male')
INSERT [dbo].[passenger] ([id], [first_name], [last_name], [date_of_birth], [country], [email], [gender]) VALUES (2, N'Rad', N'Baudins', CAST(N'1975-05-31' AS Date), N'Bulgaria', N'rbaudins1@ihg.com', N'Male')
INSERT [dbo].[passenger] ([id], [first_name], [last_name], [date_of_birth], [country], [email], [gender]) VALUES (3, N'Kylila', N'Millins', CAST(N'1944-02-09' AS Date), N'Israel', N'kmillins2@utexas.edu', N'Female')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__airline__357D4CF9CF03D323]    Script Date: 20/07/2024 8:55:32 SA ******/
ALTER TABLE [dbo].[airline] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__airline__72E12F1B1FEF6218]    Script Date: 20/07/2024 8:55:32 SA ******/
ALTER TABLE [dbo].[airline] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__airport__357D4CF98921D2E6]    Script Date: 20/07/2024 8:55:32 SA ******/
ALTER TABLE [dbo].[airport] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[baggage]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[booking] ([id])
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD FOREIGN KEY([booking_platform_id])
REFERENCES [dbo].[bookingPlatform] ([id])
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD FOREIGN KEY([flight_id])
REFERENCES [dbo].[flight] ([id])
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD FOREIGN KEY([passenger_id])
REFERENCES [dbo].[passenger] ([id])
GO
ALTER TABLE [dbo].[flight]  WITH CHECK ADD FOREIGN KEY([airline_id])
REFERENCES [dbo].[airline] ([id])
GO
ALTER TABLE [dbo].[flight]  WITH CHECK ADD FOREIGN KEY([arriving_airport])
REFERENCES [dbo].[airport] ([id])
GO
ALTER TABLE [dbo].[flight]  WITH CHECK ADD FOREIGN KEY([departing_airport])
REFERENCES [dbo].[airport] ([id])
GO
USE [master]
GO
